<template>
    <div class="col-md-12">
        <div class="card card-container">
            <div class="mt-3 col-auto text-right">
                <div class="col-4 float-left">
                    <p @click="goto('create')" class="muted fs-11 font-arial m-b-0 pointer text-left">Add User</p>
                </div>
                <div class="col-4 float-right">
                    <p @click="handleLogout" class="muted fs-11 font-arial m-b-0 pointer">Logout</p>
                </div>
            </div>
            <div class="mt-3 mb-4 col-auto">
                <list-users></list-users>
            </div>
        </div>
    </div>
</template>

<script>
    import ListUsers from './ListUsers';

   export default {
       components:{
           'list-users':ListUsers,
       },
        data() {
            return {}
        },
        computed: {
            loggedIn() {
                return this.$store.state.module.status.loggedIn;
            }
        },
        mounted() {
            if (!this.loggedIn) {
                this.goto('');
            }
        },
        methods: {
            goto(route){
                this.$router.push('/'+route);
            },
            handleLogout() {
                this.message = '';
                this.submitted = true;

                this.$store.dispatch('module/logout', this.user).then(
                    data => {
                        this.goto('');
                    },
                    error => {
                        this.goto('');
                    }
                );

            }
        }
    };
</script>