<template>
    <div class="col-md-12">
        <div class="card card-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(user, index) in users">
                        <th scope="row">{{index + 1}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <div class="col-4 float-left">
                                <p @click="goto('read/'+user.id)" class="muted fs-11 font-arial m-b-0 pointer text-left">View User</p>
                            </div>
                            <div class="col-4 float-left">
                                <p @click="goto('update/'+user.id)" class="muted fs-11 font-arial m-b-0 pointer text-left">Update User</p>
                            </div>
                            <div class="col-4 float-left">
                                <p @click="handleUserDelete(user.id)" class="muted fs-11 font-arial m-b-0 pointer text-left">Delete User</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import User from '../model/user';

    export default {
        name:'list-users',
        data() {
            return {
                user: new User('', '', ''),
                submitted: false,
                successful: false,
                message: '',
                users:[],
            };
        },
        computed: {
            loggedIn() {
                return this.$store.state.module.status.loggedIn;
            }
        },
        mounted() {
            this.loadUserList()
        },
        methods: {
            goto(route){
                console.log(route);
                this.$router.push('/'+route);
            },
            handleUserDelete(id){
                this.$store.dispatch('module/delete', id).then(
                    data => {
                        this.message = data.message;
                        this.successful = true;
                        this.users = data;
                        console.log(this.users);
                        this.loadUserList();
                    },
                    error => {
                        console.log(error);
                        this.message = error.message;
                        this.successful = false;
                    }
                );
            },
            loadUserList() {
                this.$store.dispatch('module/list', this.user).then(
                    data => {
                        this.message = data.message;
                        this.successful = true;
                        this.users = data;
                        console.log(this.users);
                    },
                    error => {
                        console.log(error);
                        this.message = error.message;
                        this.successful = false;
                    }
                );
            }
        }
    };
</script>