<template>
    <div class="col-md-12">
        <div class="card card-container">
            <form name="form" @submit.prevent="handleRegister">
                <div class="col-12 p-5" v-if="successful">
                    <div class="form-group">
                        <label>Name:</label>
                        <label>{{user.name}}</label>
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <label>{{user.email}}</label>
                    </div>
                </div>
                <div class="row m-t-15 align-items-center justify-content-center">
                    <div class="col-auto">
                        <p @click="goto('')" class="muted fs-11 font-arial m-b-0 pointer">Back to Dashboard</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import User from '../model/user';

    export default {
        name: 'Read',
        data() {
            return {
                user: new User('', '', ''),
                submitted: false,
                successful: false,
                message: ''
            };
        },
        mounted() {
            this.loadUserDetails()
        },
        methods: {
            goto(route) {
                console.log(route);
                this.$router.push('/' + route);
            },
            loadUserDetails() {

                //console.log(this.$route.params)

                let id = this.$route.params.id;

                this.$store.dispatch('module/read', id).then(
                    data => {
                        this.message = data.message;
                        this.successful = true;
                        this.user.email = data.email;
                        this.user.name = data.name;
                        console.log(this.users);
                    },
                    error => {
                        console.log(error);
                        this.message = error.message;
                        this.successful = false;
                    }
                );

            }
        }
    };
</script>