<template>
    <div class="col-md-12">
        <div class="card card-container">
            <form name="form" @submit.prevent="handleResetPassword">
                <div class="col-12 p-5" v-if="!successful">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                                v-model="user.email"
                                v-validate="'required|email|max:50'"
                                type="email"
                                class="form-control"
                                name="email"
                        />
                        <div
                                v-if="submitted && errors.has('email')"
                                class="alert-danger"
                        >{{errors.first('email')}}</div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                                v-model="user.password"
                                v-validate="'required|min:6|max:40'"
                                type="password"
                                class="form-control"
                                name="password"
                        />
                        <div
                                v-if="submitted && errors.has('password')"
                                class="alert-danger"
                        >{{errors.first('password')}}</div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">Reset Password</button>
                    </div>

                </div>
                <div class="row m-t-15 align-items-center justify-content-center">
                    <div class="col-auto">
                        <p @click="goto('')" class="muted fs-11 font-arial m-b-0 pointer">Back to Login</p>
                    </div>
                    <div class="col-auto">
                        <p @click="goto('register')" class="muted fs-11 font-arial m-b-0 pointer">Register</p>
                    </div>
                </div>
            </form>

            <div
                    v-if="message"
                    class="alert"
                    :class="successful ? 'alert-success' : 'alert-danger'"
            >{{message}}</div>
        </div>
    </div>
</template>

<script>
    import User from '../model/user';

    export default {
        name: 'Register',
        data() {
            return {
                user: new User('', '', ''),
                submitted: false,
                successful: false,
                message: ''
            };
        },
        computed: {
            loggedIn() {
                return this.$store.state.module.status.loggedIn;
            }
        },
        mounted() {
            if (this.loggedIn) {
                this.goto('dashboard');
            }
        },
        methods: {
            goto(route){
                this.$router.push('/'+route);
            },
            handleResetPassword() {
                this.message = '';
                this.submitted = true;
                this.$validator.validate().then(isValid => {
                    if (isValid) {
                        this.$store.dispatch('module/resetPassword', this.user).then(
                            data => {
                                this.message = data.message;
                                this.successful = true;
                                this.goto('');
                            },
                            error => {
                                console.log(error);
                                this.message = error.message;
                                this.successful = false;
                            }
                        );
                    }
                });
            }
        }
    };
</script>